h1 {
    color: blueviolet;
    text-align: center;
}

img {
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.city{
    text-align: center;
    background-color: yellow;
}

p  {
    text-align: justify;
    color: blue;
    font-size: 20px;
    background-color: lightgrey;

}
#title {
    text-align: center;
    color: red;
    background-color: lightcoral;
    width: 950px;
    border: 100px solid coral;
    padding: 0px;
    margin: 0px;
}

#info {
    background-color: lightblue;
    width: 850px;
    padding: 50px;
    border: 100px solid gray;
    margin: 0;
}

#choices {
    background-color: lightgreen;
    text-align: left;
    font-size: 20px;
    width: 1030px;
    padding: 50px;
    border: 10px solid lightpink;
    margin: 0;
}

#description {
    background-color: lightyellow;
    
}



